[color]
branch = auto
diff = auto
status = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = yellow
changed = green
untracked = cyan
[color]
ui = true
[core]
whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/nekokak/.gitignore
	excludesfile = /Users/nekokak/.gitignore
[branch]
autosetupmerge = true
[alias]
st = status
ci = commit
br = branch
co = checkout
df = diff
lg = log -p

[user]
	name = Atsushi Kobayashi
	email = nekokak@gmail.com
